body{
    font-size: medium;
    color: black;
    background-color: #F5F5DC;
}
.banner{
    text-align: start;
    font-style: italic;
    background-color: red;
    font-size: xx-large;
    color: black;
    height: 45px;
    background-size: cover;
}

.heading{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .paragraph{
    text-align: center;
  }

  .preformatted{
    text-align: center;
  }